#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/467d3c25-acc2-4e37-be00-1605ead6742e # 
title: New API
version: v1

types: 
  Credentials: !include datatypes/RequiredCredentials.raml

/authorize/{envType}:
  uriParameters: 
    envType: 
      enum: [ DEV, PROD, TEST ]
  post:
     body:
       application/json:
        type: Credentials
     responses: 
       201:
         body: 
           application/json:
            example:
              message: Credentials accepted. Login successful.
       400:
         body: 
           application/json:
             example:
               message: Kindly specify the credentials in the body in JSON.
       401:
        body: 
          application/json:
            example:
              message: Credentials incorrect. Login failed.
       404:
         body: 
           application/json: 
             example:
               message: Credentials cannot be located in the repository. Please try again later.
       405:
         body: 
           application/json: 
             example:
               message: Method not allowed. Kindly only use POST requests to this URI.
       415:
         body: 
           application/json: 
             example:
               message: The media type you've entered is not supported. Kindly use application/JSON as the media type.
       500:
         body: 
           application/json: 
             example:
               message: The server encountered an internal error. Please retry the request.
       503:
         body: 
           application/json: 
             example:
               message: The server is currently unable to receive requests. Please retry your request.